= simple_form_for([:admin, @post], class: 'form') do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.input :title, input_html: { class: 'form-control' }, label: false
    .form-group
      = f.cktext_area :body, input_html: { class:  'form-control' }

  .form-actions
    = f.button :submit
