.text-center.symbol-sm
  ۺ

%h1.text-center.post-title
  Posts

= link_to 'New', new_admin_post_path

%table.table.table-bordered
  %tr
    %th Date
    %th Title
    %th
    %th
  - @posts.each do |post|
    %tr
      %td= post.human_readable_created_at
      %td= link_to post.title, post
      %td= link_to 'Edit', edit_admin_post_path(post)
      %td= link_to 'Destroy', admin_post_path(post), :method => :delete, :data => { :confirm => 'Are you sure?' }


