%table
  - @posts.each do |post|
    %tr
      %td= post.title
      %td= link_to 'Show', post, class: 'btn btn-info'
      %td= link_to 'Edit', edit_admin_post_path(post), class: 'btn btn-success' 
      %td= link_to 'Destroy', admin_post_path(post), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Post', new_admin_post_path, class: 'btn btn-info' 
