- index ||= false
- klass = "text-center symbol-sm "
- klass += "post-symbol-sm" if index and index != 0
%div(class="#{klass}")
  ۺ

%h2.text-center.post-title= link_to post.title.upcase, post
%h5.text-center.post-date= post.human_readable_created_at
= raw post.body

%h5.text-center.post-categories
  = post.category_names.map {|c| "##{c}" }.join(' ')

